@use "variables" as *;

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 62.5%;
}

body {
  background-color: $Color-White;
}

p {
  font-size: $FontSize-P;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 2rem;
}
