@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

// Colors Primary
$Color-Dark-Cyan: hsl(158, 36%, 37%);
$Color-Cream: hsl(30, 38%, 92%);

// Colors Neutral
$Color-Very-Dark-Blue: hsl(212, 21%, 14%);
$Color-Dark-Grayish-Blue: hsl(228, 12%, 48%);
$Color-White: hsl(0, 0%, 100%);

// Fonts
$FontSize-P: 1.4rem;
$FontFamily-Fraunces: 'Fraunces', serif;
$FontFamily-Montserrat: 'Montserrat', sans-serif;
