@use "../util/vars"as *;

#LoginApp {
    width: 50%;
    background-color: $color2;
    border-radius: 1rem;
    padding: 2rem;
    margin: 0 auto;
}

.Login {
    form#loginForm {
        display: flex;
        gap: 1rem;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        & label {
            font-size: 1.5rem;
            font-family: $font-principal;
            color: $color5;
        }

        & p {
            color: $color4;
            font-family: $font-secundaria;
        }

        & .ButtonsContainer {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            
            & button {
                background-color: $color3;
                color: $color5;
                font-family: $font-principal;
                font-weight: bold;
            }
        }
    }
}