@use "../util/vars"as *;

.StageView {
    position: relative;
    background-color: $color2;

    width: 90%;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 2rem;

    display: flex;
    flex-direction: row;
    gap: 2rem;

    .close-btn {
        padding: 0px;

        border-radius: 50%;
        position: absolute;
        width: 40px;
        height: 40px;
        top: -20px;
        right: -20px;
        background-color: $color4;

        font-weight: bold;
        font-family: $font-principal;
        color: black;

        &:hover {
            background-color: $color5;
            color: $color4;
        }
    }

    &_question {
        background-color: $color3;
        border-radius: 1rem;
        padding: 1rem;
        position: relative;

        h3 {
            font-size: 1.5rem;
        }

        p {
            text-align: left;
            margin-top: 1rem;
        }

        .ResultAlert {
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: $color4;
            border-radius: 0.5rem;

            position: absolute;
            margin: 0 auto;
            
            height: 2rem;
            bottom: -1rem;
            right: 0;
            left: 0;
            width: 80%;

            p {
                margin: 0px;
                text-align: center;
            }
        }

        form {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            text-align: left;
            // position: relative;

            & .submitBtn {
                margin-top: 1rem;
                border-radius: 0.5rem;
                background-color: $color4;

                // position: absolute;
                // bottom: 0;
            }
        }
    }
}