@use "../util/vars"as *;

.StageCardContainer {
    background-color: $color2;

    width: 90%;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 2rem;

    display: flex;
    flex-direction: row;
    gap: 2rem;
}