@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
  --Violet: hsl(257, 40%, 49%);
  --SoftMagenta: hsl(300, 69%, 71%);
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;

  background-color: var(--Violet);
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}

h1,
h2,
h3,
h4,
h5,
section.InfoContainer h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

div#Container {
  width: 80%;
  margin: 0 auto;
}

header {
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

header img {
  width: 130px;
}

section.InfoContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section.InfoContainer img {
  width: 100%;
  height: auto;
}

section.InfoContainer .Logos {
  margin-top: 2rem;
}

section.InfoContainer .Logos a img {
  width: 28px;
  margin: 0 5px;
}

main {
  text-align: center;
}

main h1 {
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
}

main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

button {
  border-radius: 50px;
  border-color: transparent;
  width: 200px;
  height: 50px;

  color: var(--Violet);
  font-size: 14px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  /* color: hsl(228, 45%, 44%); */
}

@media (min-width: 1024px) {
  body {
    background-image: url("../images/bg-desktop.svg");
  }

  section.InfoContainer {
    flex-direction: row;
  }
  section.InfoContainer img {
    width: 50%;;
  }

  main {
    text-align: left;
  }

  main h1 {
    font-size: 3vw;
    line-height: 3.5vw;
  }

  main p {
    font-size: 1.6vw;
    line-height: 2vw;
  }

  section.InfoContainer .Logos {
    text-align: right;
  }
}
